:root {
  --color-primary: rgb(255, 176, 80);
  --menu-padding: 3rem;
  --logo-height: 30vh;
  --nav-height:calc(var(--menu-padding) + 6rem);
}

@font-face {
  font-family: "LivicExtraLight";
  src: url("src/font/Livvic-ExtraLight.ttf");
}
@font-face {
  font-family: "PP";
  src: url("src/font/PP Right Didone - Compact Regular.otf");
}
@font-face {
  font-family: "PP Compact Dark";
  src: url("src/font/PP Right Didone - Compact Dark.otf");
}
* {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.background {
  z-index: -1;
  position: fixed;
}

.header {
  background-color: white;
  z-index: 999;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 500px 50px rgba(255, 255, 255, 0.5);
}

.header-container {
  display: flex;
  justify-content: flex-end;
}
.header-container__logo {
  background-color: white;
  position: fixed;
  z-index: 998;
  left: 0;
  height: var(--logo-height);
  aspect-ratio: 1;
  animation: logo 1s ease-in;
  transition: transform 0.5s ease-in-out;
  transform: scale(calc(1 - var(--scroll-pos, 0) * 0.5 / (100vh - 300px)));
  padding: var(--menu-padding);
  padding-bottom: 0;
}
.header-container__navigation {
  display: flex;
  justify-content: space-between;
  padding: var(--menu-padding);
  padding-bottom: 0;
}
.header-container__navigation__menu {
  display: flex;
  gap: 4rem;
}
.header-container__navigation__menu__menu-item {
  font-family: "PP Compact Dark";
  font-size: 32px;
}
.header-container__navigation__menu__menu-item:nth-of-type(1) {
  animation: menuItems ease-in 0.5s;
}
.header-container__navigation__menu__menu-item:nth-of-type(2) {
  animation: menuItems ease-in 1s;
}

.content {
  position: absolute;
  margin-top: var(--nav-height);
  scroll-behavior: smooth;
  overflow-y: scroll;
}

@keyframes menuItems {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logo {
  0% {
    opacity: 0;
    top: -10rem;
  }
}
.summary {
  margin-left: 50%;
}
.summary-container ul li {
  opacity: 0;
}
.summary-container ul li:nth-of-type(1) {
  animation: summary-item-lh ease-in-out 1s forwards;
}
.summary-container ul li:nth-of-type(2) {
  animation: summary-item-lh ease-in-out 1s 0.3s forwards;
}
.summary-container ul li:nth-of-type(3) {
  animation: summary-item-lh ease-in-out 1s 0.8s forwards;
}
.summary-container ul li:nth-of-type(4) {
  animation: summary-item-lh ease-in-out 1s 1.2s forwards;
}
.summary-container ul li:nth-of-type(5) {
  animation: summary-item-lh ease-in-out 1s 1.5s forwards;
}
.summary-container__title {
  font-family: "PP Compact Dark";
  text-transform: capitalize;
  font-size: 32px;
  color: var(--color-primary);
}
.summary-container__description {
  font-size: 15px;
  font-family: "LivicExtraLight";
}
.summary li {
  list-style: none;
  margin-bottom: 1rem;
}
.summary a {
  text-decoration: none;
  cursor: pointer;
}
.summary a:is(:visited, :link) {
  color: inherit;
}

.section {
  height: calc(90vh - var(--nav-height));
  margin: 5rem;
  border: solid 0.2rem red;
  /* position: relative; */
}
@keyframes summary-item-lh {
  from {
    transform: translateX(10rem);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes summary-item-rh {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Ellipse 2 */
/* .elipse2 {
  box-sizing: border-box;

  position: absolute;
  width: 276.71px;
  height: 213.76px;
  left: 1114.04px;
  top: 254px;

  background: #ffffff;
  border: 2px solid #000000;
  transform: rotate(48.08deg);
} */
/* fleche_Plan de travail 1 1 */
.fleche {
  position: absolute;
  z-index: 1;
  left: 10rem;
  overflow: hidden;
}

/* fleche_Plan de travail 1 1 */
/* Ellipse 1 */
.elipse1 {
  position: absolute;
  left: 75%;
}

.elipse2 {
  /* Ellipse 2 */
  position: absolute;
}/*# sourceMappingURL=style.css.map */